# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
run_6selected_700extra_1000noise_50samp_1e-2reltol_50kruns
run_6selected_700extra_1000noise_50samp_1e-2reltol_50kruns_1-3
run_6selected_700extra_700noise_50samp_1e-4reltol_70kruns
run_o2
run_o2_results.rds
log_file.txt
log_file_base.txt
Rplots.pdf
